// Import Bourbon & Neat
@import "bourbon/bourbon"; // or "bourbon" when in Rails
@import "grid-settings";
@import "neat/neat"; // or "neat" when in Rails

// Import modules
@import "modules/colors";
@import "modules/app";
@import "modules/breakpoints";
@import "modules/buttons";
@import "modules/lists";
@import "modules/forms";
@import "modules/typography";
@import "modules/reset";

// Import Partials
@import "partials/header";
@import "partials/general";
@import "partials/main";
@import "partials/navigation";
@import "partials/sidebar";
@import "partials/footer";

// Current styles, You can delete this file when you start your project
/*@import "partials/current";*/

body{
	margin: 0;
	font-family: 'Vollkorn', serif;
	
	#wrapper{

		header,nav, img, li a, h1, h2{
		  transition: all 1s;
		  -moz-transition: all 1s; /* Firefox 4 */
		  -webkit-transition: all 1s; /* Safari and Chrome */
		  -o-transition: all 1s; /* Opera */
		}

		header.full{
			@include outer-container;
			height:100vh;
			.container{
				@include span-columns(12);
				padding-top: 90px;
				overflow: hidden;
				position: fixed;
				top: 0;
				z-index: 999
			}
			
			

			h1, h2{
				font-size: 60px;
				line-height: 60px;
				font-weight: lighter;
				margin: 0;

			}
			h1{
				margin-bottom: 10px;
				a{
					text-decoration:none;
					color:black;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			nav{
				padding-top: 90px;
				ul{
					padding: 0;
					list-style-type: none;
					li{
						font-size: 30px;
						position: relative;
						a{
							text-decoration: none;
							color: black;
							&:hover {
								text-decoration: line-through;
							}
						}

					}
				}
			}
		}
		header.small{
			@include outer-container;

			height:300px;
			.container{
				@include span-columns(12);
				padding-top: 30px;
				overflow: hidden;
				position: fixed;
				top: 0;
				z-index: 999
			}
			
			

			h1, h2{
				font-size: 30px;
				line-height: 30px;
				font-weight: lighter;
				margin: 0;

			}
			h1{
				margin-bottom: 5px;
			}
			nav{
				padding-top: 5px;
				ul{
					padding: 0;
					list-style-type: none;
					li{
						font-size: 15px;
						position: relative;
						a{
							text-decoration: none;
							color: black;
							&:hover {
								text-decoration: line-through;
							}
						}

					}
				}
			}
		}
		section.job-category{
			position: relative;
			border-top: 1px solid white;
			width: 100%;
			height:100vh;

			.slide{
				width: 100%;
				height:100vh;
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				background: white;
				border: 1px solid gray;
			}
			.slide-content{
				@include outer-container;
			}

			.active-slide {
			    display: block;
			}

			.cover{
				background: blue url('/assets/img/bg.jpg') no-repeat center center;
			    -webkit-background-size: cover;
			    -moz-background-size: cover;
			    -o-background-size: cover;
				background-size: cover;
			}

			.slider-nav {
			  z-index: 1;
			  text-align: center;
			  position: absolute;
			  top: 300px;
			  left: 500px;
			}

			.arrow-prev {
			  margin-right: 45px;
			  display: inline-block;
			  vertical-align: top;
			  margin-top: 9px;
			}

			.arrow-next {
			  margin-left: 45px;
			  display: inline-block;
			  vertical-align: top;
			  margin-top: 9px;
			}

			.slider-dots {
			  list-style: none;
			  display: inline-block;
			  padding-left: 0;
			  margin-bottom: 0;
			}

			.slider-dots li {
			  color: #bbbcbc;
			  display: inline;
			  font-size: 30px;
			  margin-right: 5px;
			}

			.slider-dots li.active-dot {
			  color: #363636;
			}
		}

	}
	footer{
			
			@include outer-container;
			
			
			
			
			div{
				// @include span-columns(12);
				position: fixed;
				bottom: 0;
				padding-bottom: 30px;
			}
		}

}


/** Notes

Bourbon have a clearfix in bourbon/addons. just use @include clearfix;

**/

