<header class="full" id="top">
	<div class="container">
		<h1><a href="#top">A. Barro</a></h1>
		<h2>Copywriter</h2>
		<nav>
			<ul>
				<li><a href="#badabum">Badabum</a></li>
				<li><a href="#campanhas">Campanhas</a></li>
				<li><a href="#">Protótipos</a></li>
				<li><a href="#">Apresentações</a></li>
				<li><a href="#">Conteúdo</a></li>
			</ul>
		</nav>
	</div>
</header>