<header class="full">
	<div class="container">
		<h1>A. Barro</h1>
		<h2>Copywriter</h2>
		<nav>
			<ul>
				<li><a href="#">Badabum</a></li>
				<li><a href="#">Campanhas</a></li>
				<li><a href="#">Protótipos</a></li>
				<li><a href="#">Apresentações</a></li>
				<li><a href="#">Conteúdo</a></li>
			</ul>
		</nav>
	</div>
</header>