<section id="prototipos" class="job-category">
		<div>
			<article class="slide active-slide">
				<div class="slide-content">
					<h2>Protótipos</h2>
				</div>
			</article>
		</div>
			<div class="slider-nav">
		      <a class="arrow-prev"><img src="/assets/img/seta.png"></a>
		      <ul class="slider-dots">
		        <li class="dot active-dot">&bull;</li>
		        <li class="dot">&bull;</li>
		        <li class="dot">&bull;</li>
		        <li class="dot">&bull;</li>
		      </ul>
		      <a class="arrow-next"><img src="/assets/img/seta.png"></a>
		    </div> 

	</section>