	<section id="sobre" class="job-category">
		<div>
			<article class="slide active-slide">
				<div class="slide-content">
					<div class="content">
						<article>
							<h3>André F. Barro</h3>
							<p>10 anos criando experiências digitais como aplicativos, hotsites e campanhas para grandes marcas e startups. Com background em publicidade digital, nos últimos anos aceitou desafios que ajudariam a fazer uma transição gradual de um trabalho puramente criativo para posições mais orientadas a negócios, culminando na criação de sua própria empresa, a <a href="http://badabum.com.br" target="_blank">Badabum.</a></p>
						</article>
						<article>
							<h3>Experiência</h3>
							<p>
								<ul>
									<li>FCB Brasil - Criativo</li>
									<li>Sinc Digital - SP</li>
									<li>ID\TBWA - SP</li>
									<li>DoubleYou - BCN</li>
								</ul>
							</p>
						</article>
						<article>
							<h3>Contato</h3>
							<p>
								<a href="mailto:abarro@gmail.com" class="contact-links">abarro@gmail.com</a><br>
								<a href="http://linkedin.com/in/andrebarro/pt" target="_blank" class="contact-links">Linkedin</a>
							</p>
						</article>
					</div>
				</div>
			</article>
			<div id="saiba-mais">
				Saiba mais
			</div>
		</div>
		<div class="slider-nav">
		      <a class="arrow-prev"><img src="/assets/img/seta.png"></a>
		      <ul class="slider-dots">
		        <li class="dot active-dot">&bull;</li>
		        <li class="dot">&bull;</li>
		        <li class="dot">&bull;</li>
		        <li class="dot">&bull;</li>
		      </ul>
		      <a class="arrow-next"><img src="/assets/img/seta.png"></a>
		    </div> 
	</section>