* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #EEE 0, #EEE 7.69231%, transparent 7.69231%, transparent 10.25641%, #EEE 10.25641%, #EEE 17.94872%, transparent 17.94872%, transparent 20.51282%, #EEE 20.51282%, #EEE 28.20513%, transparent 28.20513%, transparent 30.76923%, #EEE 30.76923%, #EEE 38.46154%, transparent 38.46154%, transparent 41.02564%, #EEE 41.02564%, #EEE 48.71795%, transparent 48.71795%, transparent 51.28205%, #EEE 51.28205%, #EEE 58.97436%, transparent 58.97436%, transparent 61.53846%, #EEE 61.53846%, #EEE 69.23077%, transparent 69.23077%, transparent 71.79487%, #EEE 71.79487%, #EEE 79.48718%, transparent 79.48718%, transparent 82.05128%, #EEE 82.05128%, #EEE 89.74359%, transparent 89.74359%, transparent 92.30769%, #EEE 92.30769%, #EEE 100.0%, transparent 100.0%);
  background-image: -webkit-linear-gradient(left, transparent 0, #EEE 0, #EEE 7.69231%, transparent 7.69231%, transparent 10.25641%, #EEE 10.25641%, #EEE 17.94872%, transparent 17.94872%, transparent 20.51282%, #EEE 20.51282%, #EEE 28.20513%, transparent 28.20513%, transparent 30.76923%, #EEE 30.76923%, #EEE 38.46154%, transparent 38.46154%, transparent 41.02564%, #EEE 41.02564%, #EEE 48.71795%, transparent 48.71795%, transparent 51.28205%, #EEE 51.28205%, #EEE 58.97436%, transparent 58.97436%, transparent 61.53846%, #EEE 61.53846%, #EEE 69.23077%, transparent 69.23077%, transparent 71.79487%, #EEE 71.79487%, #EEE 79.48718%, transparent 79.48718%, transparent 82.05128%, #EEE 82.05128%, #EEE 89.74359%, transparent 89.74359%, transparent 92.30769%, #EEE 92.30769%, #EEE 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #EEE 0, #EEE 7.69231%, transparent 7.69231%, transparent 10.25641%, #EEE 10.25641%, #EEE 17.94872%, transparent 17.94872%, transparent 20.51282%, #EEE 20.51282%, #EEE 28.20513%, transparent 28.20513%, transparent 30.76923%, #EEE 30.76923%, #EEE 38.46154%, transparent 38.46154%, transparent 41.02564%, #EEE 41.02564%, #EEE 48.71795%, transparent 48.71795%, transparent 51.28205%, #EEE 51.28205%, #EEE 58.97436%, transparent 58.97436%, transparent 61.53846%, #EEE 61.53846%, #EEE 69.23077%, transparent 69.23077%, transparent 71.79487%, #EEE 71.79487%, #EEE 79.48718%, transparent 79.48718%, transparent 82.05128%, #EEE 82.05128%, #EEE 89.74359%, transparent 89.74359%, transparent 92.30769%, #EEE 92.30769%, #EEE 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #EEE 0, #EEE 7.69231%, transparent 7.69231%, transparent 10.25641%, #EEE 10.25641%, #EEE 17.94872%, transparent 17.94872%, transparent 20.51282%, #EEE 20.51282%, #EEE 28.20513%, transparent 28.20513%, transparent 30.76923%, #EEE 30.76923%, #EEE 38.46154%, transparent 38.46154%, transparent 41.02564%, #EEE 41.02564%, #EEE 48.71795%, transparent 48.71795%, transparent 51.28205%, #EEE 51.28205%, #EEE 58.97436%, transparent 58.97436%, transparent 61.53846%, #EEE 61.53846%, #EEE 69.23077%, transparent 69.23077%, transparent 71.79487%, #EEE 71.79487%, #EEE 79.48718%, transparent 79.48718%, transparent 82.05128%, #EEE 82.05128%, #EEE 89.74359%, transparent 89.74359%, transparent 92.30769%, #EEE 92.30769%, #EEE 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #EEE 0, #EEE 7.69231%, transparent 7.69231%, transparent 10.25641%, #EEE 10.25641%, #EEE 17.94872%, transparent 17.94872%, transparent 20.51282%, #EEE 20.51282%, #EEE 28.20513%, transparent 28.20513%, transparent 30.76923%, #EEE 30.76923%, #EEE 38.46154%, transparent 38.46154%, transparent 41.02564%, #EEE 41.02564%, #EEE 48.71795%, transparent 48.71795%, transparent 51.28205%, #EEE 51.28205%, #EEE 58.97436%, transparent 58.97436%, transparent 61.53846%, #EEE 61.53846%, #EEE 69.23077%, transparent 69.23077%, transparent 71.79487%, #EEE 71.79487%, #EEE 79.48718%, transparent 79.48718%, transparent 82.05128%, #EEE 82.05128%, #EEE 89.74359%, transparent 89.74359%, transparent 92.30769%, #EEE 92.30769%, #EEE 100.0%, transparent 100.0%);
  background-image: linear-gradient(left, transparent 0, #EEE 0, #EEE 7.69231%, transparent 7.69231%, transparent 10.25641%, #EEE 10.25641%, #EEE 17.94872%, transparent 17.94872%, transparent 20.51282%, #EEE 20.51282%, #EEE 28.20513%, transparent 28.20513%, transparent 30.76923%, #EEE 30.76923%, #EEE 38.46154%, transparent 38.46154%, transparent 41.02564%, #EEE 41.02564%, #EEE 48.71795%, transparent 48.71795%, transparent 51.28205%, #EEE 51.28205%, #EEE 58.97436%, transparent 58.97436%, transparent 61.53846%, #EEE 61.53846%, #EEE 69.23077%, transparent 69.23077%, transparent 71.79487%, #EEE 71.79487%, #EEE 79.48718%, transparent 79.48718%, transparent 82.05128%, #EEE 82.05128%, #EEE 89.74359%, transparent 89.74359%, transparent 92.30769%, #EEE 92.30769%, #EEE 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }

/*@import "partials/current";*/
body {
  margin: 0;
  font-family: 'Vollkorn', serif; }
  body #wrapper header, body #wrapper nav, body #wrapper img, body #wrapper li a, body #wrapper h1, body #wrapper h2 {
    transition: all 1s;
    -moz-transition: all 1s;
    /* Firefox 4 */
    -webkit-transition: all 1s;
    /* Safari and Chrome */
    -o-transition: all 1s;
    /* Opera */ }
  body #wrapper header.full {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    height: 100vh; }
    body #wrapper header.full:before, body #wrapper header.full:after {
      content: " ";
      display: table; }
    body #wrapper header.full:after {
      clear: both; }
    body #wrapper header.full .container {
      display: block;
      float: left;
      margin-right: 2.5641%;
      width: 120.51282%;
      padding-top: 90px;
      overflow: hidden;
      position: fixed;
      top: 0;
      z-index: 999; }
      body #wrapper header.full .container:last-child {
        margin-right: 0; }
    body #wrapper header.full h1, body #wrapper header.full h2 {
      font-size: 60px;
      line-height: 60px;
      font-weight: lighter;
      margin: 0; }
    body #wrapper header.full h1 {
      margin-bottom: 10px; }
    body #wrapper header.full nav {
      padding-top: 90px; }
      body #wrapper header.full nav ul {
        padding: 0;
        list-style-type: none; }
        body #wrapper header.full nav ul li {
          font-size: 30px;
          position: relative; }
          body #wrapper header.full nav ul li a {
            text-decoration: none;
            color: black; }
            body #wrapper header.full nav ul li a:hover {
              text-decoration: line-through; }
  body #wrapper header.small {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    height: 300px; }
    body #wrapper header.small:before, body #wrapper header.small:after {
      content: " ";
      display: table; }
    body #wrapper header.small:after {
      clear: both; }
    body #wrapper header.small .container {
      display: block;
      float: left;
      margin-right: 2.5641%;
      width: 120.51282%;
      padding-top: 30px;
      overflow: hidden;
      position: fixed;
      top: 0;
      z-index: 999; }
      body #wrapper header.small .container:last-child {
        margin-right: 0; }
    body #wrapper header.small h1, body #wrapper header.small h2 {
      font-size: 30px;
      line-height: 30px;
      font-weight: lighter;
      margin: 0; }
    body #wrapper header.small h1 {
      margin-bottom: 5px; }
    body #wrapper header.small nav {
      padding-top: 5px; }
      body #wrapper header.small nav ul {
        padding: 0;
        list-style-type: none; }
        body #wrapper header.small nav ul li {
          font-size: 15px;
          position: relative; }
          body #wrapper header.small nav ul li a {
            text-decoration: none;
            color: black; }
            body #wrapper header.small nav ul li a:hover {
              text-decoration: line-through; }
  body #wrapper section {
    height: 100vh;
    background-color: gray; }
    body #wrapper section article {
      *zoom: 1;
      max-width: 68em;
      margin-left: auto;
      margin-right: auto;
      margin-right: 0; }
      body #wrapper section article:before, body #wrapper section article:after {
        content: " ";
        display: table; }
      body #wrapper section article:after {
        clear: both; }
  body footer {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body footer:before, body footer:after {
      content: " ";
      display: table; }
    body footer:after {
      clear: both; }
    body footer div {
      position: fixed;
      bottom: 0;
      padding-bottom: 30px; }

/** Notes

Bourbon have a clearfix in bourbon/addons. just use @include clearfix;

**/
